[Desktop Entry]
Type=Application
Name=Crossbar
Comment=Universal Plugin System for Taskbar/Menu Bar
Icon=com.verseles.crossbar
Exec=crossbar
Categories=Utility;System;
Terminal=false
StartupWMClass=com.verseles.crossbar
Keywords=plugins;tray;menubar;bitbar;argos;
